#platform=x86, AMD64, or Intel EM64T
#version=DEVEL
# Pre kickstart section for determining which drive to clearpart
%pre
#!/bin/bash
# pick the first drive that is not removable and is over MINSIZE
DIR="/sys/block"

# minimum size of hard drive needed specified in GIGABYTES
MINSIZE=23

ROOTDRIVE=""

# /sys/block/*/size is in 512 byte chunks
for DEV in $(cd $DIR; ls -d nvme?n? sd? hd? vd? 2>/dev/null); do
  if [ -d $DIR/$DEV ]; then
    REMOVABLE=`cat $DIR/$DEV/removable`
    if (( $REMOVABLE == 0 )); then
      echo $DEV
      SIZE=`cat $DIR/$DEV/size`
      GB=$(($SIZE/2**21))
      if [ $GB -gt $MINSIZE ]; then
        echo "Found matching drive: $(($SIZE/2**21)) GB"
        ROOTDRIVE=$DEV
        break
      fi
    fi
  fi
done

echo "ROOTDRIVE=$ROOTDRIVE"

# REGEX Explanation
# \K: Capture Group
# (): Group of characters to capture
# \w: Get the next word, which is the parameter
platform_version=$(grep -oP 'platform.version=\K(\w*)' /proc/cmdline)

cat << EOF >> /tmp/part-include
# System bootloader configuration
bootloader --location=mbr --driveorder=$ROOTDRIVE
# Clear the Master Boot Record
zerombr
# Clear partition
clearpart --all --drives=$ROOTDRIVE --initlabel
# Disk partitioning
part /boot --fstype=ext4 --size=2048 --asprimary --ondisk=$ROOTDRIVE --label="boot"
part /boot/efi --fstype=efi --asprimary --size=2048 --ondisk=$ROOTDRIVE
part btrfs.main --fstype=btrfs --encrypted --passphrase="fedora" --grow --fsoptions="compress=zstd:1,space_cache=v2" --ondisk=$ROOTDRIVE

btrfs none --label=fedora-btrfs btrfs.main
btrfs / --subvol --name=root fedora-btrfs
btrfs /home --subvol --name=home fedora-btrfs
btrfs /var/log --subvol --name=var_log fedora-btrfs
btrfs /var/lib/libvirt/images --subvol --name=libvirt_images fedora-btrfs
EOF
# partitions

# Define repos and packages
cat << EOF >> /tmp/repo-include
url --mirrorlist="https://mirrors.fedoraproject.org/mirrorlist?repo=fedora-${platform_version}&arch=x86_64"
EOF

# Define packages to be installed and install later
cat << EOF >> /tmp/pkg-include
@^workstation-product-environment
EOF

%end
# end of %pre

# Install OS
# Keyboard layouts
keyboard --vckeymap=ie --xlayouts='ie'
# Root password
rootpw --lock
# System language
lang en_IE.UTF-8
# Firewall configuration
firewall --enabled
# Halt after installation
reboot
# System timezone
timezone --utc Europe/Dublin
# Use graphical install to attempt to connect to wifi
graphical
# Run the Setup Agent on first boot
firstboot --reconfig
# SELinux configuration
selinux --permissive
# Setup network
# Seems to be a bug where the dynamic url made it not come up?
network
# Try setting a default, hopefully part-include will win
url --mirrorlist="https://mirrors.fedoraproject.org/mirrorlist?repo=fedora-43&arch=x86_64"

# Import partition script
%include /tmp/part-include

# Import repo script
%include /tmp/repo-include

# Install packages
%packages
%include /tmp/pkg-include
%end

# Set up a tmux window for the post kickstart, and then tail a log file
# to see the output
# See https://gist.github.com/jjpryor/c9cf4b2182b35eec1344b36554d3c15b

%post --nochroot
# this %post runs outside the chroot so that it can create a new tmux
# window to the running tmux process on VirtualTerminal-1.
# We no longer do chvt to change the VirtualTerminal because that
# doesn't show the %post output on a serial connected machine
# or a plain command-line virt-install of a VM
touch /mnt/sysimage/tmp/ks-post.log

# move provisioning files to tmp and rpms to root

cp /run/install/repo/nvidia_setup.sh /mnt/sysimage/tmp/nvidia_setup.sh
chmod +x /mnt/sysimage/tmp/nvidia_setup.sh
cp /run/install/repo/post_kickstart.sh /mnt/sysimage/tmp/post_kickstart.sh
chmod +x /mnt/sysimage/tmp/post_kickstart.sh
cp /run/install/repo/fedora_hwqual_testing.sh /mnt/sysimage/tmp/fedora_hwqual_testing.sh
chmod +x /mnt/sysimage/tmp/fedora_hwqual_testing.sh
cp /run/install/repo/Hardware_Qualification_ISO*.pdf /mnt/sysimage/tmp/Hardware_Qualification_ISO_-_Setup_and_usage_instructions.pdf

tmux -u new-window -n post-log 'tail -F /mnt/sysimage/tmp/ks-post.log'
%end

%post --erroronfail
# send all input and outout to /tmp/ks-post.log (which is the same file
# as /mnt/sysimage/tmp/ks-post.log outside the chroot)
exec < /tmp/ks-post.log > /tmp/ks-post.log

# Log output to a file
(
set -x

sudo dnf install -y dmidecode hostname curl

/tmp/post_kickstart.sh

) 2>&1 | tee /tmp/ks-post.log

echo "copy /tmp/ks-post.log /root/ks-post.log"
cp /tmp/ks-post.log /root/ks-post.log
sleep 5

%end

